<!DOCTYPE html>
<html>
  <head>
    <title>InspireViewService</title>
    <%= csrf_meta_tags %>

    <title>UK Location Programme</title>
    <!--meta http-equiv="content-type" content="text/html;charset=utf-8" /-->
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <meta name="DC.subject" scheme="eGMS.IPSV" content="Civil Service"/>
    <meta name="eGMS.accessibility" scheme="eGMS.WCAG10" content="Double-A" />
    <meta name="DC.coverage" content="GB" />
    <meta name="DC.language" scheme="DCTERMS.ISO639-2" content="eng" />
    <meta name="DC.creator" content="Ordnance Survey, http://www.ordnancesurvey.co.uk/contactus" />
    <meta name="DC.publisher" content="Ordnance Survey, Adanac Drive, Southampton, SO16 0AS, 023 8005 5257, customerservices@ordnancesurvey.co.uk" />
    <meta name="DC.title" content="UK Location Programme" />
    <meta name="DC.date" scheme="DCTERMS.W3CDTF" content="2011-04-15" />
    <meta name="description" content="UK Location Programme is a UK pan-government initiative to improve the sharing and re-use of public sector location information."/>
    <meta name="keywords" content="ordnance survey,os,inspire, uklp, uk location programme" />

    <%= stylesheet_link_tag "https://osinspiremappingprod.ordnancesurvey.co.uk/libraries/ext-3.4.0/resources/css/ext-all.css" %>
    <%= stylesheet_link_tag "https://osinspiremappingprod.ordnancesurvey.co.uk/libraries/ext-3.4.0/resources/css/xtheme-gray.css" %>
    <%= javascript_include_tag "https://osinspiremappingprod.ordnancesurvey.co.uk/libraries/ext-3.4.0/adapter/ext/ext-base.js" %>
    <%= javascript_include_tag "https://osinspiremappingprod.ordnancesurvey.co.uk/libraries/ext-3.4.0/ext-all.js" %>
    <%= javascript_include_tag "https://osinspiremappingprod.ordnancesurvey.co.uk/libraries/openlayers-openlayers-85b836d/OpenLayers.js" %>
    <%= javascript_include_tag "https://osinspiremappingprod.ordnancesurvey.co.uk/libraries/proj4js-1.0.3/lib/proj4js.js" %>
    <%= javascript_include_tag "https://osinspiremappingprod.ordnancesurvey.co.uk/libraries/GeoExt/GeoExt.js" %>
    <style type="text/css">
      /* Make sure we don't break the tiles in the map */
      img { max-width: inherit; }
      </style>
    <script type="text/javascript">
        // <![CDATA[
        document.write('<style type="text/css">#noJS{display:none;}</style>');
        // ]]>
    </script>
    <script type="text/javascript">
      var CKANEXT_OS_TILES_URL = "//osinspiremappingprod.ordnancesurvey.co.uk/geoserver/gwc/service/wms?key=<%= @apikey %>";
      var CKANEXT_OS_WMS_URL = "//osinspiremappingprod.ordnancesurvey.co.uk/geoserver/wms?key=<%= @apikey %>";
      var CKANEXT_OS_WFS_URL = "/geoserver/wfs?key=<%= @apikey %>";
    </script>
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" %>
    <script>
      //<![CDATA[
      window.jQuery || document.write('<script src="/assets/js/jquery-1.8.3.min.js"><\/script>')
      // ]]>
    </script>
    <script type="text/javascript">
      document.getElementsByTagName('html')[0].className += ' js-enabled';
    </script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
